#light {
  appearance: none;
  width: 40px;
  height: 26px;
  background-color: gray;
  border-radius: 25px;
  padding: 2.51px;
  margin-bottom: 15px;
}
#light::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: #363740;
  transition: 0.3s ease-in-out;
}
#light:checked::after {
  margin-left: 14px;
  background-color: rgb(173, 171, 171);
}
.mode {
  position: absolute;
  right: -50px;
  top: 4px;
  color: #8b8c92;
  font-weight: 700;
  font-size: 16px;
}
.outBut {
  background-color: transparent;
  border: none;
}
.outSvg {
  height: 50px;
  background-color: transparent;
}
.outSvg path {
  fill: #8b8c92;
}
/* light-btn-end */
/* light-start */
.light aside {
  background-color: rgb(242, 238, 238);
}
.light aside * {
  color: #3e4049;
}
.light .asideLogo path {
  fill: #3e4049;
}
.light .liimg {
  opacity: 1;
  fill: #3e4049;
}
.light .outSvg path {
  fill: #3e4049;
}
/* light-aside-end */
.light header {
  background-color: white;
}
.light header * {
  color: #3e4049;
}
.light .butDiv div {
  background-color: #3e4049;
}
/* main-top-start */
.light main {
  background-color: white;
}
.light main * {
  color: #3e4049;
}
.light .main-top {
  background-color: white;
}
.light ::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 10px;
}
.light thead {
  background-color: white;
}
.light .juft {
  background-color: #edeeef;
}